doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

extends layout
block content
 h1= title
 form(id='EnergyForm', action="/resource/energy", method="POST")
 div.form-group
 label.energyAttr(for='energy_type') Costume type
 input#energy_type(type='text', name='energy_type')
 div.form-group
 label.energyAttr(for='size') Energy size
 input#size(type='text', name='size')
 div.form-group
 label.energyAttr(for='cost') Energy cost
 input#cost(type='number', name='cost')
 input(type="submit")
 script.
 document.forms['EnergyForm'].addEventListener('submit', (event) => {
 event.preventDefault();
 // TODO do something here to show user that form is being submitted
 fetch(event.target.action, {
 method: 'POST',
 body: new URLSearchParams(new FormData(event.target)) // event.target is the form
 }).then((resp) => {
 return resp.json(); // or resp.text() or whatever the server sends
 }).then((body) => {
 alert("Save succeded")
 // TODO handle body
 }).catch((error) => {
 // TODO handle error
 alert("Save failed " + error )
 });
 });